<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
<form autocomplete="off">
    账 号:<input name="username" type="text"/><br>
    密 码:<input name="password" type="password"> <br>
    模 式：<input name="mode" type="radio" value="cookie" checked="checked">cookie
    <input name="mode" type="radio" value="session"> session <br>
    <button type="button" onclick="login()">登录</button>
</form>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/login.js" th:src="@{/js/login.js}"></script>
</body>
</html>
